@model IEnumerable<OpenCRMOptModels.Lotti>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model!.First().LottoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.First().Modello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.First().Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model!.First().Quantita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LottoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modello)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantita)
                </td>
                @* <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>