@model OpenCRMOptApp.ViewModels.OttimizzazioneViewModel


<div>
    <input type="button" value="Ottimizza Con Euristica" onclick="location.href='@Url.Action("OttimizzaConEuristica", "Ottimizzazione")'" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Peso
            </th>
            <th>
                Tempo Trascorso [ms]
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.RisultatoConEuristica.Peso
            </td>
            <td>
                @Model.RisultatoConEuristica.TempoTrascorso
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Macchine
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RisultatoConEuristica.PezziAssegnati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RisultatoConEuristica.Assegnamenti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i< Model.RisultatoConEuristica.Assegnamenti.Count; i++) // gli asssegna all inizio dei tempi un risultato vuoto
        {
            <tr>
                <td>
                    Macchina @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.RisultatoConEuristica.PezziAssegnati[i])
                </td>
                <td>
                    @for (int j = 0; j < Model.RisultatoConEuristica.Assegnamenti[i].Count; j++)
                    {
                        @: Lotto @Model.RisultatoConEuristica.Assegnamenti[i][j];
                    }
                </td>

            </tr>
        }
    </tbody>
</table>



<div>
    <input type="button" value="Ottimizza Naive" onclick="location.href='@Url.Action("OttimizzaNaive", "Ottimizzazione")'" />
</div>
